tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "homebrew/services"
brew "ffmpeg"
brew "gh"
brew "git"
brew "node"
brew "syncthing"
brew "youtube-dl"
brew "zsh"
cask "librewolf"
cask "rectangle"
